@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffc8dd;
}

.header {
    background-color: rgb(241, 125, 212);
    padding: 20px;
    text-align: center;
}

.titulo {
    font-size: 36px;
    color: white;
    animation: moveTitle 3s infinite alternate, changeColor 3s infinite alternate;
}

@keyframes moveTitle {
    from {
        transform: translateX(-20px);
    }

    to {
        transform: translateX(20px);
    }
}

@keyframes changeColor {
    0% {
        color: white;
    }

    100% {
        color: yellow;
    }
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #f72585;
    padding: 10px 0;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.invitation-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center;
    margin: 20px auto;
    animation: fadeIn 2s ease-out, slideUp 2s ease-out;
}

.invitation-title {
    font-size: 24px;
    color: #ff47ff;
    animation: pulse 1.5s infinite;
}

.invitation-details {
    font-size: 18px;
    color: #333;
}

.invitation-footer {
    font-size: 16px;
    color: #777;
    margin-top: 20px;
    animation: fadeIn 2s 2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.event-details {
    text-align: center;
    margin: 20px;
}

.event-details h1,
.event-details h2,
.event-details h3,
.event-details h4,
.event-details h5,
.event-details h6,
.event-details p {
    margin: 5px 0;
}

#regalos {
    background-color: #dd6a87;
    border: 2px solid #f72585;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

#regalos h1 {
    margin-bottom: 20px;
}

#regalos ol {
    list-style-type: none;
    padding: 0;
}

#regalos li {
    margin: 10px 0;
}

#regalos a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.media {
    text-align: center;
    margin: 20px 0;
}

.media img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(241, 125, 212);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}