/* Fuente futurista */
body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background-color: #0a192f;
	color: #ffffff;
	margin: 10px;
	padding: 0;
}

/* Navbar */
.navbar {
	background: linear-gradient(90deg, #1a2a6c, #4fc3f7);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.navbar-brand img {
	filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

.navbar-nav .nav-link {
	color: #fff !important;
	font-weight: bold;
	transition: 0.3s;
	align-items: flex-end;
}

.navbar-nav .nav-link:hover {
	color: #4fc3f7 !important;
}

/* Tabla */
.table {
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
	border-radius: 10px;
	overflow: hidden;
}

.table thead {
	background-color: #1a2a6c;
	color: #4fc3f7;
	text-transform: uppercase;
}

.table tbody tr {
	transition: 0.3s;
}

.table tbody tr:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.formulario {
	background: rgba(10, 25, 47, 0.9);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #4fc3f7;
	max-width: 1000px;
	/* Hacer que el formulario ocupe más espacio */
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* 2 columnas de tamaño igual */
	gap: 20px;
	/* Espacio entre columnas */
}

.formulario__label {
	font-size: 18px;
	font-weight: bold;
	color: #4fc3f7;
}

.formulario__input {
	width: 100%;
	margin: 5px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.725);
	color: #000000;
	font-size: 16px;
	transition: 0.3s;
}

.formulario__input:focus {
	background: rgba(255, 255, 255, 0.2);
	outline: none;
	box-shadow: 0px 0px 10px #4fc3f7;
}

/* Botón de enviar */
.formulario__btn {
	background: linear-gradient(90deg, #1a2a6c, #4fc3f7);
	border: none;
	padding: 10px 20px;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	transition: 0.3s;
}

.formulario__btn:hover {
	background: linear-gradient(90deg, #4fc3f7, #1a2a6c);
	box-shadow: 0px 0px 15px #4fc3f7;
}

/* Animaciones */
@keyframes neonGlow {
	0% {
		box-shadow: 0 0 5px #4fc3f7;
	}

	50% {
		box-shadow: 0 0 15px #4fc3f7;
	}

	100% {
		box-shadow: 0 0 5px #4fc3f7;
	}
}

.formulario__btn {
	animation: neonGlow 1.5s infinite alternate;
}